<div class="sign-up-container">
  <div class="right">
    <form (ngSubmit)="registro(signupForm)" #signupForm="ngForm" class="sign-up">
      <div class="title">
        <p>Regístrate</p>
      </div>
      <div class="inputs">
        <div class="datos">
          <div class="input mb-3">
            <label>Nombre(s)</label>
            <input [(ngModel)]="usuario.nombre" #firstName required name="firstName" type="text"
              placeholder="Nombre(s)">
            <span *ngIf="signupForm.submitted && signupForm.form.controls.firstName.errors" class="error-msg">El campo
              no puede estar vacio</span>
          </div>

          <div class="input mb-3">
            <label>Apellido(s)</label>
            <input [(ngModel)]="usuario.apellido" #lastName required name="lastName" type="text"
              placeholder="Apellido(s)">
            <span *ngIf="signupForm.submitted && signupForm.form.controls.lastName.errors" class="error-msg">El campo no
              puede estar vacio</span>
          </div>
        </div>

        <div class="mb-3">
          <label>Correo electronico</label>
          <input [(ngModel)]="usuario.email" #email required name="email" email type="email"
            placeholder="Correo electronico">
          <span *ngIf="signupForm.submitted && signupForm.form.controls.email.errors" class="error-msg">El campo no
            puede estar vacio</span>
        </div>
        <div class="datos">
          <div class="input mb-3">
            <label>Contraseña</label>
            <input [(ngModel)]="usuario.password" #password required minlength="6" name="password" type="password"
              placeholder="Contraseña">
            <span *ngIf="signupForm.submitted && signupForm.form.controls.password.errors" class="error-msg">Mínimo 6
              caracteres</span>
          </div>

          <div class="input mb-3">
            <label class="confirm">Confirmar contraseña</label>
            <input #confirmPassword [(ngModel)]="usuario.confirmPassword" required minlength="6" name="confirmPassword"
              type="password" placeholder="Confirmar contraseña">
            <span *ngIf="signupForm.submitted && signupForm.form.controls.confirmPassword.errors"
              class="error-msg">Mínimo 6 caracteres</span>
          </div>
        </div>
      </div>
      <div class="actions">
        <button type="submit" class="mb-3">Registrarse</button>
        <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
      </div>
    </form>
  </div>
  <div class="left"></div>
</div>
