<div class="login-container">
    <div class="left"></div>
    <div class="right">
        <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" class="login">
            <div class="title">
                <p>Iniciar sesión</p>
            </div>
            <div class="inputs">
                <div class="input mb-3">
                    <label>Usuario</label>
                    <br>
                    <input [(ngModel)]="usuario.email" required name="email" type="text" placeholder="Correo o nombre de usuario">
                </div>
                <div class="input">
                    <label>Contraseña</label>
                    <br>
                    <input [(ngModel)]="usuario.password" required name="password" type="password" placeholder="Contraseña">
                </div>
            </div>
            <div class="actions">
                <button type="submit" class="mb-3">Entrar</button>
                <a class="mb-1" href=" ">¿Olvidaste tu contraseña?</a>
                <a routerLink="/registro">¿No tienes cuenta? Regístrate ahora</a>
            </div>
        </form>
    </div>
</div>