<div class="login-container">
    <div class="left"></div>
    <div class="right">
        <div class="login">
            <div class="title">
                <p>Iniciar sesión</p>
            </div>
            <div class="inputs">
                <div class="input mb-3">
                    <label for="">Usuario</label>
                    <br>
                    <input type="text" placeholder="Correo o nombre de usuario">
                </div>
                <div class="input">
                    <label for="">Contraseña</label>
                    <br>
                    <input type="password" placeholder="Contraseña">
                </div>
            </div>
            <div class=" actions ">
                <button class="mb-3 ">Entrar</button>
                <a class="mb-1 " href=" ">¿Olvidaste tu contraseña?</a>
                <a href=" ">¿No tienes cuenta? Regístrate ahora</a>
            </div>
        </div>
    </div>
</div>