<div class="component">
    <h2 class="mb-4">Home</h2>
    <div class="grid">
        <div class="pedidos">
            <h2>Pedidos</h2>
            <h4>{{pedidos.length}}</h4>
        </div>
        <div class="productos">
            <h2>Productos</h2>
            <h4>{{productos.length}}</h4>
        </div>
        <div class="clientes">
            <h2>Clientes</h2>
            <h4>{{clientes.length}}</h4>
        </div>
        <div class="administradores">
            <h2>Administradores</h2>
            <h4>{{administradores.length}}</h4>
        </div>
    </div>
</div>