.grid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 30px;
    justify-content: space-between;
    .pedidos,
    .productos,
    .clientes,
    .administradores {
        height: 200px;
        padding: 30px;
        border-radius: 10px;
        color: white;
        h2{
            font-size: 40px;
        }
        h4{
            font-size: 30px;
        }
    }

    .pedidos {
        background: rgb(255, 89, 89);
    }
    .productos {
        background: rgb(5, 128, 150);
    }
    .clientes {
        background: rgb(22, 218, 126);
    }
    .administradores {
        background: rgb(255, 169, 10);
    }
}
