<nav class="nav">
    <div class="nav-items">
        <a [routerLink]="['/inicio']" routerLinkActive="active-component"> <span class="mdi mdi-home-outline"></span> Inicio</a>

        <a [routerLink]="['/buscar']" routerLinkActive="active-component"><span class="mdi mdi-magnify"></span> Buscar</a>

        <a [routerLink]="['/inventario']" routerLinkActive="active-component"><span class="mdi mdi-clipboard-check-multiple-outline"></span> Inventario</a>

        <a [routerLink]="['/pedidos']" routerLinkActive="active-component"><span class="mdi mdi-calendar-edit"></span> Pedidos</a>

        <a [routerLink]="['/usuarios']" routerLinkActive="active-component"><span class="mdi mdi-account-group"></span> Usuarios</a>

        <a [routerLink]="['/ajustes']" routerLinkActive="active-component"><span class="mdi mdi-cog-outline"></span> Ajustes</a>

        <a style="position: absolute; bottom: 0;" (click)="logOut()" routerLinkActive="router-link-active"><span class="mdi mdi-logout-variant mdi-rotate-180"></span> Cerrar sesión</a>
    </div>
</nav>
