<div class="component">
    <div *ngIf="tipoUsuario==='Cliente'">
        <div class="mb-3 d-flex justify-content-between">
            <div class="d-flex">
                <h2>Mis Pedidos</h2>
                <div style="margin-left: 30px;" *ngIf="!misPedidos.length" style="margin-left: 30px;"
                    class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div>
                <input [(ngModel)]="listFilter" placeholder="Buscar producto" type="text">
            </div>
        </div>
        <div class="pedido" *ngFor="let pedido of misPedidos">
            <div class="d-flex justify-content-between">
                <div>
                    <h3>Numero de pedido: {{pedido.id}}</h3>
                    <p>Nombre de cliente: {{pedido.nombreCliente}}</p>
                    <p>Fecha de pedido: {{pedido.diaPedido}}</p>
                    <p>Hora de pedido: {{pedido.horaPedido}}</p>
                </div>
                <div>
                    <h4 class="mb-5">Estado: {{pedido.status}}
                        <span *ngIf="pedido.status === 'Pendiente'" class="mdi mdi-clock-outline"></span>
                        <span *ngIf="pedido.status === 'Entregado'" class="mdi mdi-check"></span>
                        <span *ngIf="pedido.status === 'Cancelado'" class="mdi mdi-close"></span>
                    </h4>
                    <h4>Total: {{pedido.total | currency}}</h4>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <h3>Productos pedidos</h3>
                        <div *ngIf="!pedido.productos" style="margin-left: 30px;" class="spinner-border text-primary"
                            role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <ul *ngFor="let producto of pedido.productos">
                    <li> {{producto.nombre}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="tipoUsuario==='Administrador'">
        <div class="mb-3 d-flex justify-content-between">
            <div>
                <h2>Pedidos</h2>
                <div *ngIf="!pedidos.length" style="margin-left: 30px;" class="spinner-border text-primary"
                    role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div>
                <input [(ngModel)]="listFilter" placeholder="Buscar producto" type="text">
            </div>
        </div>
        <div class="pedido" *ngFor="let pedido of pedidos">
            <div class="d-flex justify-content-between">
                <div>
                    <h3>Numero de pedido: {{pedido.id}}</h3>
                    <p>Nombre de cliente: {{pedido.nombreCliente}}</p>
                    <p>Fecha de pedido: {{pedido.diaPedido}}</p>
                    <p>Hora de pedido: {{pedido.horaPedido}}</p>
                </div>
                <div>
                    <h4 class="mb-5">Estado: {{pedido.status}}
                        <span *ngIf="pedido.status === 'Pendiente'" class="mdi mdi-clock-outline"></span>
                        <span *ngIf="pedido.status === 'Entregado'" class="mdi mdi-check"></span>
                        <span *ngIf="pedido.status === 'Cancelado'" class="mdi mdi-close"></span>
                    </h4>
                    <h4>Total: {{pedido.total | currency}}</h4>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <h3>Productos pedidos</h3>
                        <div *ngIf="!pedido.productos" style="margin-left: 30px;" class="spinner-border text-primary"
                            role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div>
                        <button (click)="confirmar(pedido)" *ngIf="pedido.status === 'Pendiente'"
                            class="btn btn-success mr-4">Confirmar entrega de
                            pedido</button>
                        <button (click)="cancelarPedido(pedido)" *ngIf="pedido.status === 'Pendiente'"
                            class="btn btn-danger">Cancelar pedido</button>
                    </div>
                </div>
                <ul *ngFor="let producto of pedido.productos">
                    <li> {{producto.nombre}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>